* {
	margin: 0;
	padding: 0;
}

html, body {
	color: #BBB;
	text-align: center;
	padding:0;
	margin:0;
}

body {
	background-color: #333;
}

h1 {
	font-size: 60px;
	word-spacing: 10px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	word-spacing: 8px;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin:auto;
	padding-bottom: 20px;
}

h3 {
	font-size: 20px;
	word-spacing: 5px;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin:auto;
	padding: 15px 0 15px 0;
}

h4 {
	font-size: 18px;
	word-spacing: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin:auto;
	padding-bottom: 10px;
}

div#hidden img {
	display: none;
}

/* NAV BAR */

footer {
	padding-top: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	text-align: center;
	position: fixed;
	bottom:0px;
	z-index: 50;
}

footer div#home {
	position:fixed;
	bottom:5px;
	right:5px;
}

footer div#home a {
	color: #CCC;
}

footer div#home a:hover {
	cursor: pointer;
	color: #FFF;
	text-decoration: underline;
}

footer div#home a:focus {
	color: #FFF;
}

footer ul {
	height: 90px;
}

footer ul li {
	padding: 3px;
	list-style: none;
	margin-bottom: 10px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	margin: 5px;
	width: 90px;
	height: 90px;
	vertical-align: bottom;
	overflow: hidden;
}

footer ul li:nth-child(1) {
	background: url(../img/purple-circle-m.png) center top;
	padding-top:30px;
}

footer ul li:nth-child(2) {
	background: url(../img/blue-circle-m.png) center top;
	padding-top:20px;
}

footer ul li:nth-child(3) {
	background: url(../img/green-circle-m.png) center top;
	padding-top: 30px;
}

footer ul li:nth-child(4) {
	background: url(../img/orange-circle-m.png) center top;
	padding-top: 20px;
}

/*
footer ul li:nth-child(1) {
	background-color: #7C10D7;
}

footer ul li:nth-child(2) {
	background-color: #0000DA;
}

footer ul li:nth-child(3) {
	background-color: #109210;
}

footer ul li:nth-child(4) {
	background-color: #EF8300;
}
*/

footer ul a {
	color: #FFF;
}

footer ul li div {
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 70px;
}

footer ul a:hover {
	color: #DDD;
	text-decoration: underline;
}

footer ul a:focus {
	color: #FFF;
}

/* SPLASH PANEL */

div#splash img {
	width: 75%;
	height: auto;
	border-style: solid;
	border-width: 2px;
	border-color: #DDD;
}

#splash {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px;
}

#splash IMG {
    position:absolute;
    right:0;
    left:0;
    margin-left: auto;
    margin-right: auto;
    z-index:8;
    opacity:0.0;
}

#splash IMG.active {
    z-index:10;
    opacity: 0.0;
}

#splash IMG.last-active {
	z-index:9;
}

/* SECTIONING */

section {
	background-color: #000;
	min-height: 100vh;
	margin-bottom: 300px;
	padding: 20px 50px 20px 50px;
	height: auto;
}

/* home */

section#home {
	position: relative;
}

/* about me */

section#about-me {
	position: relative;
	text-align: left;
	background-color: rgba(124, 16, 215, 0.2);
}

section#about-me div#me-text {
	float:left;
	width: 100%;
	padding-bottom: 50px;
}

section#about-me div#face {
	float: none;
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
}

section#about-me div#face img {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(124, 16, 215);
}

/* contact me */

section#contact-me {
	text-align: left;
	background-color: rgba(0, 0, 218, 0.2);
}

section#contact-me div#zen {
	text-align: left;
}

section#contact-me img {
	margin-top: 10px;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(50, 117, 193);
}

/* code */

section#code {
	text-align: left;
	background-color: rgba(16, 146, 16, 0.2);
}

section#code a {
	color: #36c136;
}

section#code a:hover {
	text-decoration: underline;
	color: #FFF;
}

section#code div#example img {
	float: none;
	width:100%;
	height:100%;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(16, 146, 16);
}

section#code div#qualifications {
	float:none;
	text-align: left;
	width: 100%;
}

section#code div#qualifications ul {
	padding-left:20px;
}

/* art */

section#art {
	text-align: left;
	background-color: rgba(239, 131, 0, 0.2);
}

section#art div.container-fluid {
	margin-left: 75px;
	margin-right: 75px;
}

section#art div.row {
	padding: 10px;
}

section#art div.pbox {
	margin: auto;
	padding: auto;
	text-align: center;
	height: auto;
	background-color: rgb(239, 131, 0);;
	border: #b15100 solid 3px;
	color: rgba(255,255,255,0.8);
}

section#art div.pbox img {
	height: 250px;
	width: auto;
	border: #999 solid 1px;
}

section#art div.pbox img:hover {
	opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
}

section#art div.col-xs-5 {
	padding:5px;
}

/* OVERLAY */

div.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.7);
}

/* CAROUSEL */

.carousel {
	font-size: 100px;
	display: none;
}

div.c-left {
	width: 100px;
	height: auto;
	position: fixed;
	left: 50px;
	top: 200px;
	z-index: 26;
}

div.c-right {
	width: 100px;
	height: auto;
	position: fixed;
	right: 50px;
	top: 200px;
	z-index: 25;
}

div.exit {
	font-size: 50px;
	position: fixed;
	right: 25px;
	top: 0px;
}

.c-left:hover, .c-right:hover, .exit:hover {
	cursor: pointer;
}

.c-wrap {
	position:fixed;
    right:0;
    left:0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.c-wrap img {
	border: rgba(0,0,0,0.5) solid 20px;
}

img.c-show {
	height: 600px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

img.c-hide {
	display: none;
}