.content {
	height:100%;
	min-height:100%;
	padding-bottom:250px;
}

.content:after {
	height: 125px;
}

/* NAV BAR */

footer {
	background-color: rgba(0,0,0,0);
	width: 100%;
	position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom:70px;
    height:125px;   /* Height of the footer */
    z-index: 50;
}

footer ul {
	height: 185px;
	padding: 0;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.3);
}

footer ul li {
	padding-left: 0px;
	background-color: rgba(0,0,0,0);
	display: inline-block;
	font-size: 20px;
	text-align: center;
	margin: 40px;
	background-size: 125px 125px;
	width: 125px;
	height: 125px;
	padding-top: 25px;
	vertical-align:bottom;
}

footer ul li div {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	margin-top: 15px;
	width: 100px;
	height: 100px;
}

footer ul li:nth-child(1) {
	background: rgba(124, 16, 215, 1);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

footer ul li:nth-child(2) {
	background: rgba(0, 0, 218, 1);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

footer ul li:nth-child(3) {
	background: rgba(16, 146, 16, 1);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

footer ul li:nth-child(4) {
	background: rgba(239, 131, 0, 1);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

/* SPLASH PANEL */

div#splash img {
	width: 75%;
	height: auto;
}

#splash {
    position: relative;
    margin: auto;
    padding-top:20px;
}

#splash IMG {
    position:absolute;
    right:0;
    left:0;
    margin-left: auto;
    margin-right: auto;
    z-index:8;
    opacity:0.0;
}

#splash IMG.active {
    z-index:10;
    opacity: 0.0;
}

#splash IMG.last-active {
    z-index:9;
}

/* SECTIONING */

section#about-me {
	position: relative;
	text-align: left;
	height: auto;
}

section#about-me div#me-text {
	float:left;
	width: 50%;
}

section#about-me div#face {
	float: right;
}

section#contact-me div#zen {
	text-align: right;
}

section#contact-me img {
	width: 50%;
	height: 50%;
}

section#code div#example img {
	float: left;
	width:40%;
	height:40%;
}

section#code div#qualifications {
	float:right;
	text-align: left;
	width: 50%;
}

/* art */

section#art div.pbox img {
	width: auto;
	height: 180px;
}